[user]
    name = Lucas Lira Gomes
    email = x8lucas8x@gmail.com

[core]
    editor = nvim
	  excludesfile = ~/.gitignore

[alias]
    s = status
    c = commit
    l = log
    d = diff
    b = branch
    a = add
    f = fetch
    co = checkout
    stsh = stash
    stsha = stash apply
    stshl = stash list
    psh = push
    pll = pull
    rmt = remote
    mrg = merge
    rbs = rebase
    rst = reset
    ca = commit --amend -C HEAD
	  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    branch = true
    diff = true
    ui = true

[commit]
    template = ~/.committemplate

[merge]
    tool = lazygit
